<section class='text-slate-50  pt-[6rem] px-main'>
    <div>
        <h2 class={`text-center text-2xl pb-[3rem] relative
                    before:absolute
                    before:border-b-2 before:border-b-primary
                    before:w-[2.3rem] before:h-[38px]`}>
                    My <span class="text-primary">Story</span> 
        </h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore ad, natus vel, obcaecati molestias accusantium, necessitatibus officia quae dicta debitis quaerat impedit maiores! Possimus enim aut unde porro, recusandae cumque?</p>
        <div class="mt-[2rem] flex gap-[2rem]">
            <button class="text-primary border-primary border-[1px] py-[5px] px-[6px] ">Get in Touch</button>
            <button class="text-primary border-primary border-[1px] py-[5px] px-[6px] ">Download resume</button>
        </div>
    </div>
    <div>

    </div>
</section>
