<section id='about' class="text-slate-50 pt-[6rem] px-main">
    <div>
        <h2
            class={`text-center capitalize text-2xl pb-[3rem] relative
                    before:absolute
                    before:border-b-2 before:border-b-primary
                    before:w-[2.3rem] before:h-[38px]`}
        >
            My <span class="text-primary">Story</span>
        </h2>
        <div aria-label='story text'></div>
        <p class="max-w-xl mb-3">
            As I always was fascinated by technology, Web engineers picked my mind with
            the new fancy and carefully crafted solutions to certain problem.
        </p>
        <p class="max-w-xl">
            And here I am going their path looking for a chance to do the same with other
            curious and ambitious people like me.
        </p>

        <!-- I need a table here -->

        <!-- <div class="mt-[2rem] flex gap-[2rem]">
            <button class="text-primary border-primary border-[1px] py-[5px] px-[6px] ">Get in Touch</button>
            <button class="text-primary border-primary border-[1px] py-[5px] px-[6px] ">Download resume</button>
        </div> -->
    </div>
    <div></div>
</section>
