---
import Icon from 'astro-icon';
const classes = {
    input: `border-l-2 border-l-primary px-2 py-1 bg-gray-400/10 block w-full mb-4`,
};
---

<section id="contact" class="text-slate-50 pt-[6rem] px-main xs>:px-4">
    <h2
        class={`text-center capitalize text-2xl pb-[3rem] relative
                    before:absolute
                    before:border-b-2 before:border-b-primary
                    before:w-[2.3rem] before:h-[38px]`}
    >
        Get <span class="text-primary">In Touch</span>
    </h2>
    <form class="mx-auto max-w-[400px]" id="form">
        <input
            aria-label="your name"
            type="text"
            name="name"
            class={classes.input}
            placeholder="Name"
        />
        <input
            aria-label="your email"
            type="email"
            name="email"
            class={classes.input}
            placeholder="Message"
        />
        <textarea
            aria-label="your message"
            name="message"
            rows="4"
            class={classes.input}
            placeholder="Message"></textarea>

        <button
            id="submit"
            type="submit"
            class="cursor-pointer text-lg border-l-2 border-l-primary pl-2 mt-3"
        >
            <Icon name="ion:paper-airplane" class="mr-2 w-6 inline text-primary" />
            Sumbit
        </button>
    </form>
    <script client:load>
        const form = document.getElementById('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
        });
    </script>

    <h3 class="capitalize mx-auto w-max mt-10 text-xl">other methods</h3>
    <ul aria-label="socialMedia" class="flex gap-3 mt-5 text-primary mx-auto w-max">
        <li>
            <a href="https:twitter.com" target="_blank"
                ><Icon name="ph:twitter-logo-bold" class="h-10 w-8" />
            </a>
        </li>
        <li>
            <a href="https:linkedin.com" target="_blank"
                ><Icon name="ri:linkedin-line" class="h-10 w-8" />
            </a>
        </li>
        <li>
            <a href="https:github.com" target="_blank"
                ><Icon name="ri:github-line" class="h-10 w-8" />
            </a>
        </li>
    </ul>
</section>
