<section id='contact' class="text-slate-50 pt-[6rem] px-main">
    <h2
        class={`text-center capitalize text-2xl pb-[3rem] relative
                    before:absolute
                    before:border-b-2 before:border-b-primary
                    before:w-[2.3rem] before:h-[38px]`}
    >
        Get <span class="text-primary">In Touch</span>
    </h2>
</section>
