---
import Icon from 'astro-icon';
import SocialMedia from './shared/socialMedia.astro';
const classes = {
    input: `border-l-2 border-l-primary px-2 py-1 bg-gray-400/10 block w-full mb-4`,
};
---

<script>
    const form = document.getElementById('form');
    form.addEventListener('submit', (e) => {
        e.preventDefault();
    });
</script>

<section aria-label="contact" id="contact" class="text-slate-50 pt-[6rem] px-main xs>:px-4">
    <h2
        class={`text-center capitalize text-2xl pb-[3rem] relative
                    before:absolute
                    before:border-b-4 before:border-b-primary
                    before:w-[3rem] before:h-[48px]`}
    >
        Get <span class="text-primary">In Touch</span>
    </h2>
    <form class="mx-auto max-w-[400px]" id="form">
        <input
            aria-label="your name"
            type="text"
            name="name"
            class={classes.input}
            placeholder="Name"
        />
        <input
            aria-label="your email"
            type="email"
            name="email"
            class={classes.input}
            placeholder="Message"
        />
        <textarea
            aria-label="your message"
            name="message"
            rows="4"
            class={classes.input}
            placeholder="Message"></textarea>

        <button
            id="submit"
            type="submit"
            class="cursor-pointer text-lg border-l-2 border-l-primary px-2 py-1 mt-3 subtleHoverSlider group"
        >
            <Icon
                name="ion:paper-airplane"
                class="mr-2 w-6 inline text-primary group-hover:rotate-[35deg] duration-300"
            />
            Sumbit
        </button>
    </form>

    <h3 class="capitalize mx-auto w-max mt-10 text-xl">other methods</h3>
    <SocialMedia style="mx-auto w-max" />
</section>
