---
import ColorSwitcherTitle from './colorSwitcher';
import Icon from 'astro-icon';
---

<section id="home" class="relative px-main xs>:px-4 pt-[4rem] flex justify-between">
    <!-- tailwind can not do this -->
    <style>
        .gradient-70 {
            background: linear-gradient(
                to right,
                rgb(17 24 39),
                rgb(17 24 39 / 0.95),
                rgb(17 24 39 / 0.9),
                rgb(17 24 39 / 0.85),
                transparent
            );
        }
    </style>
    <div class="z-10 gradient-70">
        <p class="text-primary capitalize uppercase text-xl tracking-wider">
            I'm astronaut
        </p>
        <!-- hero title -->
        <ColorSwitcherTitle
            client:load
            title="A Web Engineer"
            tailwindStyle={{title: 'text-[2.5rem] mb-[1rem]'}}
        />
        <p class={`max-w-[25rem] leading-relaxed first-letter:uppercase`}>
            I write sweat code for the web,
        </p>
        <p class={`max-w-[25rem] leading-relaxed first-letter:uppercase`}>
            With the help of sweat technologies.
        </p>
        <ul aria-label="socialMedia" class="flex gap-3 mt-5 text-primary">
            <li><a href="https:twitter.com" target="_blank"><Icon name='ph:twitter-logo-bold' class="h-10 w-8"/></a></li>
            <li><a href="https:linkedin.com" target="_blank"><Icon name='ri:linkedin-line' class="h-10 w-8"/></a></li>
            <li><a href="https:github.com" target="_blank"><Icon name='ri:github-line' class="h-10 w-8"/></a></li>
        </ul>
        <div class="flex flex-wrap gap-7 mt-8">
            <button class={`text-primary capitalize border-primary border-b-2 py-[5px]`}>
                <a href="#contact">Get in Touch</a>
            </button>
            <button class={`text-primary capitalize border-primary border-b-2 py-[5px]`}>
                <a href="/media/projects/snipshare.jpeg" download="astronaut_resume.pdf"
                    >Download resume</a
                >
            </button>
        </div>
    </div>
    <style>
        .astro {
            right: min(8%, 100px); /* this doesn't work in tailwind */
        }
        @media width < 500px {
            .astro {
                right: 1rem; /* this doesn't work in tailwind */
            }
        }
    </style>
    <div class="w-[190px] absolute astro astro>:hidden">
        <Icon class="text-primary/50 w-2xl" name="fa-solid:user-astronaut" />
        <!-- <Icon class='absolute z-20 w-2xl' name='mdi:fire-circle'/> -->
        <!-- <Icon class='absolute top-[-120px] left-[-30px] w-[20rem] text-primary' name='mdi:fire'/> -->
    </div>
</section>
