---
import ColorSwitcherTitle from "./colorSwitcher.jsx";
---

<section class='px-main pt-[4rem]'>
  <div>
    <p class="text-primary uppercase text-xl tracking-wider">I'm segfaulty</p>
    <!-- an h1 title -->
    <ColorSwitcherTitle client:load title='A Web Engineer'/>
    <p class="max-w-[35rem] leading-relaxed">Deleniti vel culpa molestias atque, nam ea amet libero ex sequi voluptas laudantium voluptate itaque veniam quia sit impedit dolorem ad quisquam!</p>
    <ul aria-label="socialMedia">
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
    <button>Get In Touch</button>
    <button>Download Resume</button>
  </div>
  <div>personal pic</div>
</section>