---
import Icon from 'astro-icon';
import SocialMedia from './shared/socialMedia.astro';
---

<section
    aria-label="intro"
    id="intro"
    class="relative px-main xs>:px-4 pt-[4rem] flex justify-between items-center"
>
    <!-- tailwind can not do this -->
    <style>
        .gradient-70 {
            background: linear-gradient(
                to right,
                rgb(17 24 39),
                rgb(17 24 39 / 0.95),
                rgb(17 24 39 / 0.9),
                rgb(17 24 39 / 0.85),
                transparent
            );
        }
    </style>
    <div class="z-10 gradient-70 animate-loadFromLeft">
        <p
            aria-label="my name"
            class="text-primary capitalize uppercase text-xl tracking-wider mb-1"
        >
            I'm astronaut
        </p>
        <!-- hero title -->
        <script>
            const titleLetters = document.getElementById('heroTitle').children;

            // loop
            {
                let i = 0;
                setInterval(() => {
                    if (i == titleLetters.length) {
                        i = 0;
                        return;
                    }

                    titleLetters[i].classList.toggle('text-primary');

                    i++;
                }, 100);
            }
        </script>
        <h1 id="heroTitle" class="text-[2.5rem] mb-[1rem]">
            {
                'A Web Engineer'.split('').map((letter) => {
                    return <span>{letter}</span>;
                })
            }
        </h1>

        <p class={`max-w-[25rem] leading-relaxed first-letter:uppercase text-xl`}>
            I write sweat code <Icon name="noto:honey-pot" class="w-6 inline" /> for the web,
        </p>
        <p class={`max-w-[25rem] leading-relaxed first-letter:uppercase text-xl`}>
            With the help of sweat technologies.
        </p>
        <SocialMedia />
        <div aria-label="social media links" class="flex flex-wrap gap-7 mt-8">
            <a
                class={`text-primary capitalize py-[5px] border-[1px] border-primary px-3 py-2 rounded-xl
                        subtleHoverSlider group flex justify-center items-center`}
                href="#contact"
            >
                <Icon
                    name="ion:paper-airplane"
                    class="mr-2 w-6 inline text-primary group-hover:rotate-[35deg] duration-300"
                />
                Get in Touch</a
            >
            <a
                class={`text-primary capitalize py-[5px] border-[1px] border-primary px-3 py-2 rounded-xl
                        subtleHoverSlider group flex justify-center items-center`}
                href="/media/projects/snipshare.jpeg"
                download="astronaut_resume.pdf"
            >
                <Icon
                    name="ic:outline-file-download"
                    class="inline text-primary mr-1 w-7 group-hover:scale-[1.2] duration-300"
                />
                Download resume
            </a>
        </div>
    </div>
    <style>
        .astro {
            right: min(8%, 100px); /* this doesn't work in tailwind */
        }
        @media width < 500px {
            .astro {
                right: 1rem; /* this doesn't work in tailwind */
            }
        }
    </style>
    <div
        aria-label="astronaut icon"
        class="w-[190px] absolute flex astro astro>:hidden animate-loadFromRight"
    >
        <Icon class="text-primary/50 w-2xl" name="fa-solid:user-astronaut" />
        <!-- <Icon class='absolute z-20 w-2xl' name='mdi:fire-circle'/> -->
        <!-- <Icon class='absolute top-[-120px] left-[-30px] w-[20rem] text-primary' name='mdi:fire'/> -->
    </div>
</section>
